[Desktop Entry]
Encoding=UTF-8
Name=Verknüpfung mit The Briggs Effect | Ben Briggs
Type=Link
URL=http://benbriggs.net/album/the-briggs-effect
Icon=text-html
